body {
  background-color: #CCF2F4;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 145%;
  color: #F58634;
}

h1 {
  font-size: 3.545rem;
  font-family: 'Pacifico', sans-serif;
  margin: 50px auto 40px auto;
  color: #66BFBF;
}

h2 {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #11999E;
}

/*******************************CLASS SECTIONS*********************************/
.top-container {
  background-color: #CCF2F4;
  padding-top: 100px;
  position: relative;
}

.middle-container{

}

.bottom-container{

}


.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 670px;
  top: 30px;
}
.profile-picture{
max-width: 390px;
height: auto;
width: 100%;
border-radius: 100%;
}
.computer-picture{
  border-radius: 100%;
}
.footer-link{
  color: #11999E;
}
.paragraph1{
font-weight: normal;
}
